$font-path: "../assets/fonts";
$app-direction: ltr;


@import "ionic.globals";


$colors: (
  primary:    #6495ed,
  secondary:  #435d8c,
  danger:     #f53d3d,
  light:      #e7d5d5,
  bright:     white,
  dark:       #222
);

//Top Toolbar & Bottom tabs
$toolbar-md-background : color($colors, secondary);
$tabs-md-background	: color($colors, secondary);

$tabs-md-tab-color-active	: color($colors, bright);
$tabs-md-tab-color-inactive		: color($colors, light);
$tabs-md-tab-text-active	: color($colors, bright);
$tabs-md-tab-text-inactive		: color($colors, light);


$list-md-background-color: color($colors,secondary);
$list-md-text-color : color($colors,light);

@import "ionic.theme.default";
@import "ionic.ionicons";


// Fonts
// --------------------------------------------------

@import "roboto";
@import "noto-sans";
